testmode=True
testmode_prefix="/tmp/snap_test"

from lib.project import project
projects = [

    #project( name     = "projectname",
    #         url      = "git@example.com:foo/bar.git",
    #         location = "/projects/directory" )

]
